@model IEnumerable<QuanLySinhVien.Models.GiaoVien>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenGV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhongBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HocPhanPhuTrach)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenGV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhongBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HocPhanPhuTrach)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaGV }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaGV }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaGV })
        </td>
    </tr>
}

</table>
